body {
  text-align: center;
  background-color: blanchedalmond;
  font-family: "ZCOOL XiaoWei", serif;
  padding: 20px;
  margin: 40px;
}

.title {
  font-size: 60px;
  font-weight: bolder;
  text-align: left;
  padding: 15px;
  margin-top: 0px;
  margin-left: 220px;
}

.sidebar {
  width: 200px;
  padding: 10px;
  margin-top: 150px;
  text-align: center;
  position: fixed;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 411px;
  height: 411px;
  margin-left: 220px;
  background-color: rgb(56, 56, 56);
  border: 0.1px solid rgb(129, 129, 129);
}

.board div {
  width: 40px;
  height: 40px;
  border: 0.1px solid rgb(129, 129, 129);
  text-align: center;
  font-size: 30px;
}

.board div:hover {
  /* background-color: rgba(255, 0, 0, 0.2); */
  border: 0.1px solid red;
}

.bomb {
  background-color: rgb(131, 55, 55);
}

.checked {
  background-color: rgb(161, 161, 161);
}

.hidden {
  background-color: rgb(56, 56, 56);
}

#refresh {
  font-size: 15px;
  position: relative;
  bottom: 0;
  border: none;
}

.one {
  color: rgb(128, 14, 14);
}

.two {
  color: rgb(34, 34, 139);
}

.three {
  color: rgb(61, 104, 25);
}

.four {
  color: rgb(97, 75, 16);
}

@media (max-width: 670px) {
  body {
    margin: 5px;
  }

  .sidebar {
    width: 100px;
    padding: 5px;
    margin-top: 100px;
    text-align: center;
  }

  .title {
    text-align: left;
    padding: 10px;
    margin-left: 120px;
    font-size: 35px;
  }

  .board {
    width: 211px;
    height: 211px;
    margin-left: 120px;
  }

  .board div {
    width: 20px;
    height: 20px;
    font-size: 15px;
  }

  #refresh {
    font-size: 15px;
  }
}
