body {
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  margin: 20px auto;
  background-color: rgb(56, 56, 56);
  border: 0.1px solid rgb(129, 129, 129);
}

.board div {
  width: 40px;
  height: 40px;
  border: 0.1px solid rgb(129, 129, 129);
}

.bomb {
  background-color: rgb(131, 55, 55);
}
